#apppage .gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    }
    
    #apppage .view {
    background-image: url('https://i.pinimg.com/originals/83/6b/ef/836bef202c95618b29466956ea63fc13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    }
    
    #apppage h6 {
    line-height: 1.7;
    }
    @font-face {
        font-family: moon;
        font-weight: normal;
        src: url("../fonts/moon.otf") format("opentype");
    }
    .loggo{
        font-family: 'moon'
    }
    #pepe{
        font-size: 20px
    }